node_modules/
.idea/
*.iml
src/
test/**/*.js
test/**/*.js.map
test/**/*.d.ts
lib/**/*.js
lib/**/*.js.map
lib/**/*.d.ts
doc-gen/**/*.js
doc-gen/**/*.map
test/samples/originals
test/_test-issues.ts
coverage/
.nyc_output/
test/samples/zeroes.flac

# Not doing 0-install for this repo, at least for now...
.yarn/*
.pnp.*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions